@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Parkinsans:wght@300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: #43adc4;
}
* {
  font-family: "Parkinsans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--main-color);
  padding: 15px;
}
:where(.config-container, .quiz-container, .result-container) {
  display: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.config-container {
  display: block;
  width: 415px;
  padding: 30px;
  text-align: center;
  .config-title {
    font-size: 1.51rem;
  }
  .config-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    h4 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 1.125rem;
    }
    button {
      padding: 12px;
      font-size: 0.938rem;
      font-weight: 500;
      background-color: #fff;
      border: 1px solid var(--main-color);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: #43acc484;
      }
      &.active {
        background-color: #43acc484;
        border: var(--main-color) 1px solid;
      }
    }
    .category-options {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    .question-options {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(5, 1fr);
    }
  }
  .start-quiz-btn {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: #fff;
    padding: 13px 25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 1rem;
    margin-top: 20px;
    transition: 0.3s ease background-color;
    -webkit-transition: 0.3s ease background-color;
    -moz-transition: 0.3s ease background-color;
    -ms-transition: 0.3s ease background-color;
    -o-transition: 0.3s ease background-color;
    &:hover {
      border: none;
      background-color: var(--main-color);
      color: #fff;
    }
  }
}
.quiz-container {
  width: 480px;
  .quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    .quiz-title {
      font-size: 1.43rem;
      font-weight: 700;
    }
    .quiz-timer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: rgb(83, 84, 84);
      color: #fff;
      width: 70px;
      padding: 7px 9px;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
  }
  .quiz-content {
    padding: 20px 25px 25px;
    .question-text {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .answer-options {
      list-style: none;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .answer-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 16px;
        background-color: rgb(240, 254, 254);
        border: #43acc497 1px solid;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s ease background-color;
        -webkit-transition: 0.3s ease background-color;
        -moz-transition: 0.3s ease background-color;
        -ms-transition: 0.3s ease background-color;
        -o-transition: 0.3s ease background-color;
        i {
          font-size: 1.3rem;
          display: block;
          flex-shrink: 0;
          margin: -4px -3px -4px 12px;
        }
        &.correct {
          color: green;
          background-color: rgba(0, 128, 0, 0.19);
          border-color: rgba(0, 128, 0, 0.196);
        }
        &.incorrect {
          color: red;
          border-color: rgba(255, 0, 0, 0.19);
          background-color: rgba(255, 0, 0, 0.19);
        }
        &:hover:not(.correct, .incorrect) {
          background-color: #43acc484;
        }
      }
    }
  }
  .quiz-footer {
    border-top: 1px solid #eee;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .question-status {
      font-weight: 500;
      b {
        font-weight: 700;
      }
    }
    .next-question-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      visibility:hidden;
      gap: 5px;
      cursor: pointer;
      padding: 10px 25px;
      font-size: 1rem;
      background-color: var(--main-color);
      border: none;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      color: #fff;
      transition: 0.3s ease background-color;
      -webkit-transition: 0.3s ease background-color;
      -moz-transition: 0.3s ease background-color;
      -ms-transition: 0.3s ease background-color;
      -o-transition: 0.3s ease background-color;
      &:hover {
        background-color: #40a4ba;
      }
    }
  }
}
.result-container {
  text-align: center;
  padding: 40px;
  width: 410px;
  .result-img {
    width: 110px;
  }
  .result-title {
    margin-top: 30px;
  }
  .result-message {
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 15px;
    line-height: 1.8;
    b {
      color: var(--main-color);
      font-weight: 600;
    }
  }
  .try-again-btn {
    background-color: var(--main-color);
    border: none;
    padding: 13px 35px;
    margin-top: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s ease background-color;
    -webkit-transition: 0.3s ease background-color;
    -moz-transition: 0.3s ease background-color;
    -ms-transition: 0.3s ease background-color;
    -o-transition: 0.3s ease background-color;
    &:hover {
      background-color: #40a4ba;
    }
  }
}
